<h1>Authors</h1>
<h2 class="author_name">Pablo Alonso Rodr&iacute;guez</h2>
<%= image_tag('pablo.jpg') %>
<p class="author_email">Email: palonsoro@gmail.com o p.alonsor@alumnos.upm.es</p>
<p class="author_address">Direcci&oacute;n postal: C\ Mes&oacute;n de Paredes 52, 3A. 28012 Madrid</p>
<p class="author_curriculum">
  Soy un estudiante de la ETSIT-UPM con interés en electrónica y, sobre todo, en informática, en 
  especial en el area de desarrollo de aplicaciones, bien sea para escritorio, móvil o web. <br/>
  Experiencia profesional:<br>
  <ul>
	<li>Beca en el Grupo de Tecnologías del Habla del DIE-UPM: Mejora de una práctica especial del Laboratorio 
	de Sistemas Electrónicos Digitales sobre el control de dispositivos domóticos con android.
	</li>
  </ul>
  Otros aspectos a mencionar:<br/>
  <ul>
	<li>Titulo B2 de alemán por la Escuela Oficial de Idiomas</li>
	<li>Beca excelencia realizada en el curso 2007/2008 por las notas de bachillerato</li>
	<li>Segundo premio de primero de la Escuela, durante el citado curso 2007/2008</li>
  </ul>
</p>

<h2 class="author_name">Víctor Manuel Cano Fernández</h2>
<%= image_tag('vmcano.jpg') %>
<p class="author_email">Email: victor.cano.fernandez@alumnos.upm.es o vmcano@hotmail.com</p>
<p class="author_address">Direcci&oacute;n postal: C\ Rafael Lucenqui, 6, 2ºB, 06004 Badajoz</p>
<p class="author_curriculum">
  Estudiante de Ingeniería de Telecomunicación. En la actualidad me encuantro en 5º curso, en la especialidad de Telemática, intensificación Redes y Servicios de Comunicaciones. <br/>
  Experiencia profesional:<br>
  <ul>
	<li>Gestor de la red del CMU Mendel (2010 - Actualidad)
	</li>
  </ul>
  Otros aspectos a mencionar:<br/>
  <ul>
	<li>Nivel medio de inglés.</li>
	<li>Conocimiento de diversos lenguajes de programación: Java, C, Objective-C, Ruby...</li>
	<li>Beca Excelencia (curso 2007/2008).</li>
	<li>Jornadas sobre Empleo y Tecnología SATELEC (2008 y 2010).</li>
	<li>Monitor de Actividades Complementarias (2005 - 2007).</li>
  </ul>
</p>
