<h1>Autores: </h1>
<table>
	<thead>
		<tr>
		<th>Nombre</th><th>Dir. Postal</th><th>Correo electrónico</th><th>CV</th><th>Foto</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
				<td>Gabriel Jiménez</td><td>C/Planeta tierra, 11</td><td>g.jimenez@alumnos.upm.es</td><td>Vini, vidi, programi</td><td><img style="height:100px; width:100px;" alt="foto gabi" src="http://sp1.fotologs.net/photo/1/57/115/r_ana_r_ene/1174670326_f.jpg"/></td>
		</tr>
		<tr>
				<td>José Carlos Valero</td><td>C/Planeta tierra, 12</td><td>jc.valero@alumnos.upm.es</td><td>Hizo lo que pudo</td><td><img style="height:100px; width:100px;" alt="foto jcv" src="http://jar-jar-binks.com/images/jar-jar-binks.jpg"/></td>
		</tr>
</tbody>
