<h1>Autores del Sitio</h1>
<p>Los autores de este sitio son:</p>

<p><dl>
<dt><b> Carlos Magan</b></dt>
<dd>Calle Falsa 123</dd>
<dd><a href="mailto:c.magan@alumnos.upm.es">c.magan@alumnos.upm.es </a></dd>
<dd><%= image_tag('carlos.jpg') %></dd>
<dd>Carlos es alumno de la ETSIT UPM y actualmente está cursando la asignatura LSWC </dd>
</p>


<p>
<dt><b> Jaime Vega</b></dt>
<dd>Calle Falsa 456</dd>
<dd><a href="mailto:jaime.vega.dolado@alumnos.upm.es">jaime.vega.dolado@alumnos.upm.es </a></dd>
<dd><%= image_tag('jaime.jpg') %></dd>
<dd>Jaime es alumno de la ETSIT UPM y actualmente está cursando la asignatura LSWC </dd>
</p>

</dl>

