<h1>Authors</h1>
<div style="border: dotted 2px; padding: 15px; margin: 10px">
<div style="padding:10px; font-size:25px">
<%= image_tag("J.png", :width => "50") %>
Juan Fernando Sánchez Rada
</div>
<div>
<table>
<tr>
<td><b>e-mail:</b></td><td>romeo@capulet.lit</td>
</tr>
<tr>
<td><b>address:</b></td><td>123 foo street (NV)</td>
</tr>
<tr>
<td><b>Working experience:</b></td>
<td>
<ul>
<li>This website</li>
<li>balkian@github</li>
<li>Ingeniero de Telecomunicación @ Universidad Politécnica de Madrid</li>
</ul>
</td>
</tr>
</table>
</div>
</div>
<div style="border: dotted 2px; padding: 15px; margin:10px">
<div style="padding:10px; font-size:25px">
<%= image_tag("A.png", :width => "50") %>
Adrián Pérez Orozco
</div>
<div>
<table>
<tr>
<td><b>e-mail:</b></td><td>itchy@scratchy.com</td>
</tr>
<tr>
<td><b>address:</b></td><td>23 Abingdon Road (NY)</td>
</tr>
<tr>
<td><b>Working experience:</b></td>
<td>
<ul>
<li>This website</li>
<li>krun@github</li>
<li>Ingeniero de Telecomunicación @ Universidad Politécnica de Madrid</li>
</ul>
</td>
</tr>
</table>
</div>
</div>

