<h1>Autores de esta web</h1>
<p><B>Los alumnos encargados de esta web son: </B>
   Miguel González López y Pedro Miguel García de Frutos</p>

<div id="cvitae">

 <UL id="miguel" >
  <IMG height="60" alt="Pedro"  src="/assets/Miguel.png" />
  <LI> <STRONG>Miguel González López</STRONG> </LI>
  <LI> Valmojado (Toledo) </LI>
  <LI> <a href="mailto:mgonlopez@gmail.com"> 
        mgonlopez@gmail.com </a></LI>
 </UL>

 <UL id="pedro" >
  <div >
    <IMG height="60" alt="Pedro"  src="/assets/FotoPedro.jpg" />
  </div>
  <LI> <STRONG>Pedro Miguel García de Frutos</STRONG> </LI>
  <LI> c/Vilar de Donas, 6, 28050, Madrid</LI>
  <LI> <a href="mailto:pedromiguelgarcia@gmail.com"> 
        pedromiguelgarcia@gmail.com</a> </LI>
  <LI> <B>C.V.:</B>
	<UL>Estado civil: Soltero</UL>
	<UL>Lugar de nacimiento: Madrid</UL>
	<UL><B>Estudios:</B></UL>
	<UL>Bachillerato Tecnológico</UL>
	<UL>Ingeniería Técnica de Telecomunicación, Telemática, en la EUITT de la UPM</UL>
	<UL>Actualmente. Estudiando en la ETSIT de la UPM</UL>
	<UL><B>Experiencia laboral:</B></UL>
	<UL>Septiembre 2004-Febrero 2008: TCP</UL>
	<UL>Febrero 2008–Agosto 2008: Sortis</UL>
	<UL>Agosto 2008-Actualidad: Panel</UL>
	<UL><B>Áreas de conocimiento:</B></UL>
	<UL>Lenguajes de programación: Java, C, C++, iOS, Android, XHTML, JSP</UL>
	<UL>Otros conocimientos: Host, BBDD, XML</UL>
	<UL><B>Otros datos:</B></UL>
	<UL>Inglés: nivel medio</UL>
	<UL>Carnet de conducir B</UL>
  </LI>
 </UL>


</div>
