<h1>Elena Moreno Alonso </h1>
<%= image_tag('elena.png') %>
<p>Madrid</p>
<p>elenaypunto@gmail.com</p>
<p>Estudiante de ingeniería de Telecomunicaciones</p>


<h1>Carlos González merino</h1>
<%= image_tag('Carlos.PNG') %>

<p>Madrid</p>
<p> carlosgonza88@gmail.com</p>
<p>Estudiante de ingeniería de Telecomunicaciones</p>
