<h1>Informacion sobre el autor</h1>
<div class="databox"><div class="datos"><strong>Nombre: </strong>Miguel Pachas García <br><br>
<strong>Dirección: </strong>ETSI Telecomunicación UPM <br><br>
<strong>E-Mail: </strong>miguel.pachas.garcia@gmail.com<br><br>
</div><div class="imagen"><%= image_tag('mike.png') %></div>
<p><strong>Currículum: </strong><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et iaculis eros. Aenean placerat, dolor et consectetur luctus, risus mauris scelerisque sem, interdum mollis metus ante nec velit. Nullam tempus dictum justo id hendrerit. Nunc eget lacus enim, id dictum augue. Vivamus placerat accumsan massa, id egestas nisl luctus sit amet. Suspendisse ornare sapien pharetra mauris volutpat commodo. Vivamus felis lorem, lacinia in congue ut, convallis at lorem.

Suspendisse potenti. Suspendisse potenti. Praesent eu odio mauris. Duis vestibulum tempus odio, sit amet pellentesque mi tincidunt ac. Vivamus ullamcorper ante ac mi ullamcorper cursus. Aliquam condimentum accumsan viverra. Nam sagittis sagittis sagittis. Praesent consequat faucibus tellus. Fusce eget dui nibh. Aliquam eget feugiat erat. Aenean ut nisl vitae magna consequat ultricies nec vitae magna. Quisque et tellus neque, in egestas felis. Donec ullamcorper libero et elit tempus ut pulvinar diam aliquam. Nullam sagittis fringilla odio, eu vestibulum purus sodales et. Nulla enim urna, tincidunt ac ultrices in, tempor et nisl.

Morbi viverra mi et nibh lobortis eleifend. Suspendisse ut massa massa, sit amet adipiscing diam. Curabitur orci dui, cursus eu convallis at, bibendum a turpis. Donec dapibus scelerisque lacus, eget sagittis nisi eleifend eget. Pellentesque eleifend eros consectetur orci sodales at accumsan dui vehicula. Suspendisse arcu elit, sagittis at ultricies id, venenatis vitae lacus. Proin a molestie massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p><div>
