
<h1> Author </h1>

<h3> Nombre: </h2> Avelina Fernandez Iñigo

<h3> Direcci&#243;n Postal:  </h3> 28030

<h3> Correo electr&#243;nico: </h3> a.fernandezi@alumnos.upm.es

<h3> Curriculum </h3> Ingeniero t&#233;cnico de Telecomunicaci&#243;n </br> Estudiando ingenier&#237;a superior de telecomunicaci&#243;n </br>

<%= image_tag('Avelina.jpg', :size=> "70x70") %> 

<br/> <br/>

<h3> Nombre: </h3> Maria Merino Garcia

<h3> Direcci&#243;n Postal: </h3> 28035

<h3> Correo electr&#243;nico: </h3> me.merino@alumnos.upm.es

<h3> Curriculum </h3> Ingeniero t&#233;cnico de Telecomunicaci&#243;n </br> Estudiando ingenier&#237;a superior de telecomunicaci&#243;n </br>

<%= image_tag('Maria.jpg', :size=> "70x70") %> 

<br/> <br/>