<h1>Information about the author</h1>

<%= image_tag('pedriza2-m.png') %>

<h2>Author</h2>
<p>Pablo Clemente Pérez</p>

<h2>Address</h2>
<p>C/Santa Hortensia 31 6ºB</p>
<p>Madrid 28002</p>

<h2>E-mail</h2>
<p>pabloclemente08@gmail.com</p>

<h2>CV</h2>
<p>Please click <a href="https://docs.google.com/open?id=0B20tNZCa4hYnYjlmODU3ZWItMDc5My00MTJiLTgzNzEtZTliODIxMDk0MjI5" >here</a> to see my cv</p>






