<h1>Author</h1>
<p>Sergio Díaz Bautista</p>
<%= image_tag('foto_sdb.jpg') %>
<p>Mail: s.diazbautista@gmail.com</p>
<p>Dirección: Calle Meléndez Valdés 16 3º2</p>
<p>Currículum Vitae:</p>
<ul>
<li>Estudiante de Ingeniería de Telecomunicación en la ETSIT-UPM (2007-Actualidad)</li>
<li>Becario en el SINBAD del DIT de la ETSIT-UPM (2011-Actualidad)</li>
</ul>